<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Ready sir</h1> -->
    <form method="post" action="/chats">
        <label for="from">Enter From:</label>
        <input type="text" name="from" placeholder="Enter from" id="from" >
        <br><br><br>
        <label for="to">Enter to:</label>
        <input type="text" name="to" placeholder="Enter to" id="to" >
        
        <br><br><br>
        <label for="msg">Enter message:</label>
        <input type="text" name="message" placeholder="Enter message" id="msg" >
        <br><br><br>
        <button>Submit</button>
    </form>
</body>
</html>