body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: black;
}
p{
    color: red;
    line-height: 30px;
}
a{
    color: rgb(00,250, 00);
    text-decoration: none;
}
textarea{
    color: black;
}