<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD NEW USER</title>
</head>
<body>
    <h3>Please Enter your Detail</h3>
    <form method="POST" action="/users">
        <h1><%= id %></h1>
        
       <br><br>
       <input type="hidden" name="id" value="<%= id %>">
        <label for="name">Enter your Name:</label>
        <input type="text" placeholder="Enter name" name="username" id="name">
        <br><br>
        <label for="email">Enter your Email:</label>
        <input type="email" placeholder="Enter Email" name="email" id="email">
        <br><br>
        <label for="pass">Enter your Password:</label>
        <input type="password" placeholder="Enter password" name="password" id="pass">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>