<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Hello sir I am jarvis</h1>
    <h3>Total counting is <%= total %></h3>

     <a href="http://localhost:5000/users">SEE ALL USERS IN Detail</a>
    <br><br><br>
     

    </body>
</html>