<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Good morning sir this is form file</h1>
    <p>The value of a is = 5</p>
    <p>The value of b is = 10</p>
    <p>The multiplcation is <%= `The multiplcation
        is ${5*10}`   %></p>
</body>
</html>