<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this page belongs <%= username %>
    and the password is <%= pass %>
    
    </h1>

    <!-- using word follower -->
     <button class="followers">followers</button>
     
   
    
     <h3>followers are:</h3>
    
    <ul>
    <%  for(let i=0;i < followers.length; i++){ %>
        <li><%=    followers[i]   %> </li>
   <% } %>    
    </ul>
    <button>submit</button>
    <button>reset</button>
</body>
</html>