<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/post">
        <br><br><br>
       <input type="checkbox" id="id" name="id" value="<%=uuidv4()%>" checked>
        <label for="id">your id is: <%=uuidv4()%> I </label><br>
        <br><br><br>  
        <label for="name">Enter Name:</label>
        <input type="text" name="name" id="name" placeholder="   Enter Name" >
        <br>
        <br>
        <br>
        <label for="problem">Enter Your Problem: </label>
        
      
        <textarea name="problem" id="problem" placeholder="Enter problem"></textarea>
        
        <br><br>

        <button type="submit">Create New Post!</button>

    </form>   
    <script src="/app.js"></script> 
</body>
</html>